* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #F5F5F5;
  text-transform: uppercase;
}

html, body {
  height: 100%;
}

body {
  background-color: #4F4F4F;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



